[submodule "ThirdParty/cocoaoniguruma"]
	path = ThirdParty/cocoaoniguruma
	url = ssh://git@coneko.no-ip.org/Users/Shared/Projects/cocoaoniguruma.git
[submodule "ThirdParty/libarchive"]
	path = ThirdParty/libarchive
	url = ssh://git@coneko.no-ip.org/Users/Shared/Projects/iOS-libarchive.git
[submodule "ThirdParty/Connection"]
	path = ThirdParty/Connection
	url = ssh://git@coneko.no-ip.org/Users/Shared/Projects/ConnectionKit.git
[submodule "ThirdParty/ReactiveCocoa"]
	path = ThirdParty/ReactiveCocoa
	url = https://github.com/github/ReactiveCocoa.git
[submodule "ThirdParty/file"]
	path = ThirdParty/file
	url = ssh://coneko.no-ip.org/Users/Shared/Projects/file.git
