[submodule "ThirdParty/cocoaoniguruma"]
	path = ThirdParty/cocoaoniguruma
	url = git@github.com:EnthusiasticCode/cocoaoniguruma.git
[submodule "ThirdParty/libarchive"]
	path = ThirdParty/libarchive
	url = ssh://git@coneko.no-ip.org/Users/Shared/Projects/iOS-libarchive.git
[submodule "ThirdParty/Connection"]
	path = ThirdParty/Connection
	url = https://github.com/EnthusiasticCode/ConnectionKit.git
[submodule "ThirdParty/ReactiveCocoa"]
	path = ThirdParty/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "ThirdParty/file"]
	path = ThirdParty/file
	url = ssh://git@coneko.no-ip.org/Users/Shared/Projects/file.git
[submodule "ThirdParty/ReactiveCocoaIO"]
	path = ThirdParty/ReactiveCocoaIO
	url = https://github.com/ReactiveCocoa/ReactiveCocoaIO.git
