[submodule "ThirdParty/Kiwi"]
	path = ThirdParty/Kiwi
	url = https://github.com/allending/Kiwi.git
[submodule "ThirdParty/libssh2-for-iOS"]
	path = ThirdParty/libssh2-for-iOS
	url = https://github.com/x2on/libssh2-for-iOS.git
