//
//  Library-iPhone.xcconfig
//  edit
//
//  Created by Uri Baghin on 2/27/11.
//  Copyright 2011 __MyCompanyName__. All rights reserved.
//

SKIP_INSTALL = YES
PUBLIC_HEADERS_FOLDER_PATH = include/$(PRODUCT_NAME)
PRIVATE_HEADERS_FOLDER_PATH = private/$(PRODUCT_NAME)-Private/$(PRODUCT_NAME)
HEADER_SEARCH_PATHS = $(value) $(CONFIGURATION_BUILD_DIR)/$(PRODUCT_NAME)-Private
HEADERMAP_INCLUDES_FLAT_ENTRIES_FOR_TARGET_BEING_BUILT = NO
HEADERMAP_INCLUDES_FRAMEWORK_ENTRIES_FOR_ALL_PRODUCT_TYPES = NO
HEADERMAP_INCLUDES_PROJECT_HEADERS = NO