//
//  Shared.xcconfig
//  edit
//
//  Created by Uri Baghin on 2/27/11.
//  Copyright 2011 __MyCompanyName__. All rights reserved.
//

// use clang because gcc sucks
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
// search frameworks headers and libraries in the build directory, this way we can use subprojects
FRAMEWORK_SEARCH_PATHS = $(inherited) $(BUILD_DIR)
HEADER_SEARCH_PATHS = $(BUILD_DIR)/include
LIBRARY_SEARCH_PATHS = $(BUILD_DIR)

GCC_PRECOMPILE_PREFIX_HEADER = NO;
PRODUCT_NAME = $(TARGET_NAME);
ALWAYS_SEARCH_USER_PATHS = NO
LD_RUNPATH_SEARCH_PATHS = @loader_path/
GCC_FAST_OBJC_DISPATCH = YES
TEST_AFTER_BUILD = YES

// Enable as many warnings as possible and treat them as errors
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_INHIBIT_ALL_WARNINGS = NO
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = NO // Fails @selector expressions for selectors undeclared in current scope, i.e. delegate
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_PEDANTIC = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = NO // Leave disabled since a lot of cocoa delegate functions have a million parameters
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES

// automatically run the analyzer too
RUN_CLANG_STATIC_ANALYZER = YES
