//
//  Test.xcconfig
//  edit
//
//  Created by Uri Baghin on 2/27/11.
//  Copyright 2011 __MyCompanyName__. All rights reserved.
//

ARCHS = "$(ARCHS_STANDARD_32_BIT)";
OTHER_LDFLAGS = $(value) -framework SenTestingKit;
WRAPPER_EXTENSION = octest;


// Disable some warnings for Kiwi
GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = NO
GCC_WARN_PEDANTIC = NO
GCC_WARN_STRICT_SELECTOR_MATCH = NO
GCC_WARN_UNDECLARED_SELECTOR = NO
